* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #f2f4f5;
	color: #1e1e1f;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 0 24px;
	min-height: 100vh;
}
